<h1>All My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
  <li>
    <% if task.completed %>
      <i class="fa fa-check-square-o"></i>
    <% else %>
      <i class="fa fa-square-o"></i>
    <% end %>
    <%= link_to task.title, task_path(task.id) %>
    <%= link_to "🚫", task_path(task), method: :delete, data: {:confirm => 'Are you sure?'} %>
  </li>
  <% end %>
</ul>

<%= link_to "Add new Task", new_task_path %>
